@charset "UTF-8";

/*páginas de impressão*/

span {
    text-transform: uppercase;
}

.rotated {
    transform: rotate(180deg);
}

.row {
    width: 100%;
    display: inline-block;
}

.col {
    position: relative;
    float: left;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: calc(100% / 3);
}

.col-4 {
    width: calc(100% / 4);
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-8 {
    width: 80%;
}

.col-10 {
    width: 100%;
}

table {
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table {
    width: 100%;
    padding: 0;
    text-align: left;
    margin-bottom: 1rem;
}

.table thead th {
    padding: 0.75rem;
    border-bottom: 2px solid #e3e6f0;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

.table tr {
    padding: 0.75rem;
    border-top: 1px solid #e3e6f0;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}


/*tamanho*/

page[size=header] {
    width: 210mm;
    height: 50mm;
    margin: 0 auto;
}

page[size=body] {
    width: 210mm;
    height: 197mm;
    margin: 0 auto;
}

page[size=footer] {
    width: 210mm;
    height: 50mm;
    margin: 0 auto;
}

@media print {
    body,
    page[size=footer] {
        margin: 0;
    }
}


/*css de relatorio*/

.document-master {
    max-width: 210mm;
    text-align: center;
    top: 2cm;
}

.header-fixed {
    max-width: 210mm;
}

.footer-fixed {
    max-width: 210mm;
    max-width: 210mm;
    bottom: 0px;
}

.title-sup p {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 1% 0 0 0;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.logo-header {
    width: 100%;
}

.logo-gmac {
    width: 25%;
    padding-top: 5%;
}

.logo-footer {
    width: 80%;
    margin: 10%;
}

.title-mid {
    margin: 8% 0 12% 0;
}

.title-mid p {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-weight: 700;
    text-align: center;
}

.info-data {
    margin: 6% 0 8% 0;
}

.info-data p {
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0.8em 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    text-align: justify;
    color: #747474;
}

.local-data {
    margin: 15% 0 15% 0;
}

.local-data p {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
}

.index-table h4 {
    font-family: "Montserrat", sans-serif;
    margin: 5% 0 0 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}

.index-table table th {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2ch;
    text-align: left;
}

.index-table table td {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2ch;
    text-align: left;
}

.signature {
    margin: 8% 0 14% 0;
}

.signature p {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.signature hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
    width: 40%;
}

.footer-data {
    margin: 2% 0 16% 0;
}

.footer-data p {
    font-family: "Montserrat", sans-serif;
    margin: 0 0 0.8em 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.7;
    font-weight: 500;
    text-align: justify;
}

.footer-data .footer-address {
    font-family: "Montserrat", sans-serif;
    margin: 8% 0 0 0;
    padding: 0;
    font-size: 9px;
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
}